<main role="main">

  <div class="container">
    <h1 class="display-3">TenantTunnel</h1>
  </div>
  
  <div class="container login-area">
    <!-- Example row of columns -->
    <a class="btn btn-secondary btn-lg" href="https://github.com/halllo/TenantTunnel">Documentation <i class="fa fa-info-circle"></i></a>
    &nbsp;
    <button class="btn btn-success btn-lg" (click)="auth.login()">Login <i class="fa fa-lock"></i></button>
    &nbsp;
    <button class="btn btn-danger btn-lg" (click)="auth.adminConsent()">Admin Consent <i class="fa fa-users"></i></button>
  </div>
      
</main>